body, html {

  overflow-x: auto;

  
}

.navbar .nav-link {
  font-size: 14px;
   padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}



.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}




.logo{
  
    display: block;
    margin-left: auto;
    margin-right: auto;

}


  
  
  .text-block {
 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
  
    width: 100%; 
    padding: 100%; 
    margin: 0 auto;
    
  }
  .mapouter{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  @font-face {
    font-family: 'myFirstFont';
    src: url(actionisttf.ttf);

    
  }
  
  .s{
    text-align: center;
font-size: 50px;
    font-family: myFirstFont;
  }

.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}