.second_player_game {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media only screen and (max-width: 700px) {
  input {
    height: 30px;
    width: 50%;
  }
  h1 {
    font-size: 30px !important;
    margin-bottom: 40px;
  }
}
