body, html {
    height: 100%;
  }
  
  .bg {
    font-size: 50px;
    background-image: url("../Home/1.jpg");
  
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @font-face {
    font-family: myFirstFont;
    src: url("../Home/Blue Eyes - Personal Use.otf");
  }
  
  div {
    font-family: myFirstFont;
  }